/*Article*/
.article {
  margin: 2rem auto;
  max-width: 80%;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.flex-item {
}
.flex-item__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}
.flex-item__img-container__img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

/*end Article*/

/*Top section*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-item {
  /* Apply common styles for all grid items */
  background-color: #f1f1f1;
  padding: 10px;
  height: 100%;
}

.grid-item__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Element: image inside image-container */
.grid-item__image {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.grid-item__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.grid-item__text-container > a:first-child {
  text-decoration: none;
}
.grid-container .grid-item:first-child {
  grid-column: span 2;
}

@media (max-width: 680px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container .grid-item:first-child {
    grid-row: span 2;
  }
}
/*end Top section*/

.body {
  max-width: 80%;
  margin: auto;
  text-align: justify;
}
